
<!DOCTYPE html>
<html>
<head>
    <title>Online Speech Practice</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h1 class="title">Guided Speech Practice</h1>

<p class="desc">
Read the sentence shown below.  
Click the microphone to start speaking.  
Your speech will appear in the <b>Your Speech</b> box.
</p>
<div class="box1">
<div class="box">
    <h3>Practice Sentence</h3>
    <p id="sentence">{{ sentence }}</p>
</div>

<div class="box">
    <h3>Your Speech</h3>
    <p id="spokenText"></p>
</div>
</div>
<button id="micBtn">Start Recording</button>

<div class="chart-container">
    <canvas id="resultChart"></canvas>
</div>
<button id="seeResultsBtn" style="display:none;">
  See Results →
</button>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="/static/script.js"></script>
</body>
</html>
